<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-xs-12 col-12" id="top-navbar">
      <nav class="navbar navbar-expand-lg navbar-light sticky-top flex-md-nowrap p-0 shadows">
        <a class="navbar-brand" href="#">
          <img id="logo-img" src="./assets/images/logo.png" class="img-fluid">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation" [routerLink] ="" (click)="toggle()">
          <a class="navbar-toggler-icon"></a>
        </button>
        <div class="collapse navbar-collapse" [class.show]="toShow" id="navbarSupportedContent">
          
          <div class="input-group">
            <label class="control-label" for="search-box"></label>
            <span class="fa fa-search form-control-feedback" id="searchIcon"></span>
            <div ngbDropdown class="d-inline-block">
              <!-- <input id="search-box" class="form-control mr-lg-2  dropdown-toggle search" type="search" placeholder="  Search..." ngbDropdownToggle
                aria-label="Search" [(ngModel)]="filter" (keyup)='globalsearch.keyeventfunc()' data-toggle="dropdown"> -->
              <app-global-search-list #globalsearch [filter]='filter'></app-global-search-list>
            </div>
          </div>
          <a id="icon-notif" class="nav-link">
            <img src="./assets/images/notification.png" class="width25">
          </a>
          <ul class="navbar-nav justify-content-end">
            <li ngbDropdown [placement]="['bottom-right', 'top-right']" class="d-inline-block" #profile="ngbDropdown">
              <button class="btn btn-light" id="dropdownProfile" ngbDropdownToggle>
                <img *ngIf="loaded" [src]="profileImage" class="width35 rounded-circle">
                <img *ngIf="!loaded" src="./assets/images/profile.png" class="width35 rounded-circle"/>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownProfile">
                <button class="dropdown-item" (click) = "getImage()">View Profile</button>
                <button class="dropdown-item">Help</button>
                <button class="dropdown-item" (click)="logout()">Logout</button>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-2 collapse width show" id="sidebar">
      <div class="list-group text-center text-md-left">

        <a [routerLink]="['/dashboard']" routerLinkActive="active" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"
          title="Dashboard">
          <img src="./assets/images/dashboard.png" [routerLink]="['/dashboard']" routerLinkActive="active">
          <span class="d-none d-md-inline">Dashboard</span>
        </a>

        <a [routerLink]="['/skills']" routerLinkActive="active" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"
          title="Skills">
          <img src="./assets/images/skills.png">
          <span class="d-none d-md-inline">Skills</span>
        </a>

        <a [routerLink]="['/certifications']" routerLinkActive="active" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"
          title="Certifications">
          <img src="./assets/images/certifications.png">
          <span class="d-none d-md-inline">Certifications</span>
        </a>

        <a [routerLink]="['/trainings']" routerLinkActive="active" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"
          title="Trainings">
          <img src="./assets/images/training.png">
          <span class="d-none d-md-inline">Trainings</span>
        </a>

        <a [routerLink]="['/reports']" *ngIf="isAdmin" routerLinkActive="active" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"
          title="Reports">
          <img src="./assets/images/reports.png">
          <span class="d-none d-md-inline">Reports</span>
        </a>
        <a class="list-group-item d-inline-block collapsed" *ngIf="isAdmin" [routerLink] ="" data-parent="#sidebar" (click)="show = !show"
          title="Admin">
         <span fa class="fa fa-user-secret " size=2></span>
          <span class="d-none d-md-inline">Admin</span>
          <span fa [class.fa-angle-up]="show" [class.fa-angle-down]="!show" class="float-right fa align-bottom"> </span>
        </a>
        <div *ngIf="show">
          <a [routerLink]="['/adminskill']" routerLinkActive="active" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"
            title="Admin">
            <img src="./assets/images/skills.png">
            <span class="d-none d-md-inline"> Add/Modify Skills</span>
          </a>
          <a [routerLink]="['/admincertificate']" routerLinkActive="active" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"
            title="Admin">
            <img src="./assets/images/certifications.png">
            <span class="d-none d-md-inline"> Add/Modify Certificates</span>
          </a>
          <a [routerLink]="['/adminmanager']" routerLinkActive="active" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"
            title="Admin">
            <span fa class="fa fa-user" size=2></span>
            <span class="d-none d-md-inline"> Admin Manager</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-10 offset-2 main" id="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>