
    <div class="col-12 background">

      <div id="myDashboard" class="row">

          <p id="text">My Dashboard</p>

      </div>

      <div id="notification" class="row">
          <div class="col-12">
              <app-notification-marquee></app-notification-marquee>
          </div>
      </div>
      <div id="placeholder" class="row">
          <div class="col-12">
              <app-placeholderbadge></app-placeholderbadge>
          </div>
      </div>

      
      <div class="row placeholders">


          <div class="col-sm-4">
              <app-skills-placeholder></app-skills-placeholder>
          </div>

          <div class="col-sm-4">
              <app-certification-placeholder></app-certification-placeholder>
          </div>

          <div class="col-sm-4">
              <app-training-placeholder></app-training-placeholder>

          </div>


      </div>
     
  </div>
