<div class="card skills h-100">
  <div class="card-block h-100">
    <h3 class="card-title">Skills</h3>
    
    <div *ngIf="true">
      <p class="card-text black">Skills Rated</p>

      <p class="card-text grey" *ngIf="skillPlaceholder?.numberOfSkillRated">Total skills rated by you is {{skillPlaceholder?.numberOfSkillRated}}</p>
      <p class="card-text grey" *ngIf="!skillPlaceholder?.numberOfSkillRated">--</p>

      <p class="card-text black">Top rated</p>
      <p class="card-text grey" *ngIf="skillPlaceholder?.highestRating">{{skillPlaceholder?.higestRatedSkill}} with {{skillPlaceholder?.highestRating}} rating is your top rated skill</p>
      <p class="card-text grey" *ngIf="!skillPlaceholder?.highestRating">--</p>

      <p class="card-text black">Updated on</p>
      
      <div class="card-text grey" *ngIf="(year!==0 || month !==0 || day !==0) && skillPlaceholder?.numberOfSkillRated">
        Its been
        <span *ngIf="year!==0">
          {{year}} years
        </span>
        <span *ngIf="month!==0">
          {{month}} months
        </span>
        <span *ngIf="day!==0">
          {{day}} days
        </span>
        since you last updated your skills.
      </div>
      <div class="card-text grey" *ngIf="year===0 && month ===0 && day ===0">
        <p> You are upto date </p>
      </div>
      <p class="card-text grey" *ngIf="(year!==0 || month !==0 || day !==0) && !skillPlaceholder?.numberOfSkillRated">--</p>

      <a routerLink="/skills/myskill" id="viewDetails" class="btn btn-primary">View Details</a>
    </div>
  </div>
</div>