<div class="row background" >
  <div class="col-5">
      <img src="./assets/images/Badge.png" align="right" class="img-fluid maxwidth100" >
  </div>
  <div class="col-7">
      <div class="row">
          <h3 class="superstar" >You would be a super star</h3>
      </div>
      <div class="row">
          <p class="superstar opacity">30 more days to achieve it</p>
          
          
      </div>
      <div class="row">
          
              <a href="#">
                  <p class="superstar opacity font-size120" > UPDATE MY BADGE STATUS
                  <i class="fa fa-chevron-right coloryellow" ></i>
                  </p>

              </a>
          
      </div>
  </div>
</div>