<div class="card certifications h-100">
  <div class="card-block h-100">
    <h4>Certifications</h4>
   
   
      <p class="card-text font13">
        {{subtitle1}}

      </p>
      <p *ngIf="employeeCertificatePlaceholderModel?.length ===0">-- </p>
      <ul *ngFor="let emplcert of employeeCertificatePlaceholderModel" class="grey">

        <li *ngIf="emplcert?.certificationName">{{emplcert?.certificationName}}</li>
        {{emplcert?.year}}

      </ul>

      <p class="card-text font13">
        {{subtitle2}}
      </p>

      <ul class="grey">
        <li>Under development</li>
      </ul>
      <a routerLink="/certifications/mycertifications" id="viewDetails" class="btn btn-primary">View Details</a>

  </div>

</div>